<div class="row">
    <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://t4.ftcdn.net/jpg/10/07/81/63/240_F_1007816363_7EmF8mDea6fdIxLtJUS2puJHwCBYJOzi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{data.title}}</h5>
          <p class="card-text">{{data.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div></div>
    <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://t4.ftcdn.net/jpg/05/12/64/51/240_F_512645152_VJUHBFUzLXp0qApk5qf08m6CNmb49c3O.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{data.title2}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div></div>
    <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://t3.ftcdn.net/jpg/05/54/02/68/240_F_554026892_UsZG4Tm3GPUV6fxzlpvV0qOOe9KKYvCj.jpg">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div></div>
    <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://t4.ftcdn.net/jpg/07/14/63/15/240_F_714631599_w8Bhr6HCDw08CclUu4fZu9WIfOupkhay.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div></div>
</div>
